---
import Section from './Section.astro';
import Container from './Container.astro';
---
<footer>
  <Section>
    <Container>
      <p class="text-center">
        &copy; <a href="https://spacejelly.dev">Space Jelly</a>, {new Date().getFullYear()}
      </p>
    </Container>
  </Section>
</footer>